# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# Pinecone Database Configuration
PINECONE_API_KEY=
# PINECONE_ENVIRONMENT= # If applicable depending on Pinecone setup
# PINECONE_INDEX_NAME=

# Groq Configuration
GROQ_API_KEY=
